* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.heading {
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.upload-btn {
  float: right;
  cursor: pointer;
  padding: 0.5rem;
  background: blanchedalmond;
  border: 1px solid #1a1a1a;
  border-radius: 5px 0;
}

.file-icon {
  max-width: min(50%, 100px);
}
.file-name {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  justify-items: center;
  align-items: center;
}
.grid-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;

  cursor: pointer;
}

.file-view {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.left {
  min-width: 32%;
}
.right {
  max-width: 66%;
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
}

.title {
  font-weight: bold;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  text-align: left;
  padding: 0.5rem;
}
.data {

}
.btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: cadetblue;
  margin-top: 1rem;

  border-radius: 10% 0;
}
.download {
  align-self: center;
  width: min(50%, 125px);
}
.btn-link {
  text-decoration: none;
}

.adjacent-btns {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

